Level(
    entities: [
    (
        entity_type: Sneatling,
        health: 20.0,
        x: 23.3,
        y: 23.3
    ),
    (
        entity_type: Barrel,
        health: 100.0,
        x: 13.3,
        y: 70.0
    ),
    (
        entity_type: Barrel,
        health: 100.0,
        x: 13.3,
        y: 63.3
    ),
    (
        entity_type: Barrel,
        health: 100.0,
        x: 13.3,
        y: 80.0
    ),
    ],
    floors: [
    (
        x_start: 3.0,
        x_end: 90.0,
        y: 16.0,
    )
    ],
    cover: [
    (
        x_start: 12.0,
        x_end: 30.0,
        y: 24.0,
    ),
    (
        x_start: 50.0,
        x_end: 80.0,
        y: 24.0,
    ),
    ]
)
