(
    axes: {
      "player_1_walk": Emulated(pos: Key(D), neg: Key(A)),
    },
    actions: {
      "player_1_jump": [[Key(Space)]],
      "player_1_eat": [[Key(E)]],
      "player_1_spit": [[Key(F)]],
    }
)
