List((
    texture_width: 68,
    texture_height: 46,
    sprites: [
            (
                x:0,
                y:0,
                width: 68,
                height: 46,
            ),
        ],
))
