List((
    texture_width: 3,
    texture_height: 2,
    sprites: [
            (
                x:0,
                y:0,
                width: 3,
                height: 2,
            ),
        ],
))
